/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "facilities.scss";

#topbar {
  background: none no-repeat scroll 0 0 #73c71e;
  position: fixed;
  width: 100%;
  z-index: 999;
}

#sidebar {
  position: fixed;
  background-color: #3d4045;
  height: 100%;
  width: 50px;
  margin-top: 50px;
  color: white;
}

.container-fluid {
  margin-left: 50px;
  padding: 0;
}

.sidebar-icon {
  text-align: center;
  margin: 20px auto;
}

.navbar-brand {
  background: url("/brandlogo.png") no-repeat scroll -58px 0px transparent !important;
  background-size: 265px !important;
  color: transparent;
  margin-left: 15px;
}

.content {
  margin-top: 50px;
  padding-top: 1px;
}